
@model ProjectViewModel

<section class="container-fluid">

    <div class="row">
        <div class="col-5">


            <div class="lead mt-3"> <strong>Product Category:</strong><br /> @Model.Category.Name</div>

            <div class="lead mt-4"> <strong>Product Category:</strong><br /> @Model.Pdetail</div>




        </div>
        <div class="col-7">
            <ul class="nav nav-tabs">
                <li class="nav-item"> <a class="nav-link active" href="#after" data-toggle="tab">After Work</a></li>
                <li class="nav-item"> <a class="nav-link" href="#before" data-toggle="tab">Before Work</a></li>
                
            </ul>

            <div class="tab-content" style="min-height:360px">
                <div id="after" class="tab-pane active mytab-pane">
                    <div class="row">
                        @foreach (var img in Model.AfterImages)
                        {
                        
                            <section class="portfoliodet pt-lg">
                                <div class="section-intro wrapper pb-md">
                                </div>
                                <div class="portfoliodet__gallery clearfix">
                                    <div class="portfoliodet__gallery--item">
                                        <figure><img src="data:image/jpg;base64,@img" alt=""></figure>
                                    </div>
                                   
                                </div>
                            </section>
                        }
                    </div>


                </div>
                <div id="before" class="tab-pane mytab-pane">
                    <div class="row">
                        @foreach (var img in Model.BeforeImages)
                        {
                        <section class="portfoliodet pt-lg">
                            <div class="section-intro wrapper pb-md">
                            </div>
                            <div class="portfoliodet__gallery clearfix">
                                <div class="portfoliodet__gallery--item">
                                    <figure><img src="data:image/jpg;base64,@img" alt=""></figure>
                                </div>

                            </div>
                        </section>
                        }
                    </div>

                </div>
                

            </div>
        </div>
    
</div>
  
    
       </section>
