@model IEnumerable<ProjectCategoryVM>
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="modal fade" id="mydialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 id="mydialog-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div id="mydialog-body" class="modal-body">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="caption-row bg-primary text-white">
        <div class="row">
            <div class="col-12">
                <span>Manage Categories</span>
                <span>[ <a id="lnkcreatecountry" asp-action="Create" asp-controller="Category" class="text-white"> Add New </a> ]</span>
            </div>
        </div>
    </div>
    <div class="head-row bg-primary text-white">
        <div class="row">
            <div class="col-3 m-3">Name</div>
            <div class="col-3 m-3">Actions</div>
        </div>
    </div>
    @foreach (var m in Model)
    {
        <div class="data-row">
            <div class="row">
                <div class="col-3 m-2" >@m.Name</div>
                <div class="col-3 m-2">
                    <a class="btn btn-danger dgbtn-delete" asp-action="delete" asp-controller="category" asp-route-id="@m.Id"><i class="fa fa-trash"></i> </a>
                </div>
            </div>
        </div>
    }

    <div id="div1">

    </div>

</div>

@section adminscript{
    <script>
       
        $("#lnkcreatecountry").click(function (event) {
            event.preventDefault();
            let myurl = $(this).attr("href");
            $.ajax(
                {
                    url: myurl
                }
            ).done(function (createform) {
                $("#mydialog-title").html("Add New Category");
                $("#mydialog-body").html(createform);
                $("#mydialog").modal();
                $("#lnkdemo").click(function (e) {
                    e.preventDefault();
                    let temp = $(this).attr("href");
                    $.ajax(
                        {
                            url: myurl
                        }
                    ).done(function (result) {
                        alert(result);
                    });

                })
                
            });
        });

       

        $(".dgbtn-delete").click(function (event) {
            event.preventDefault();
            let myurl = $(this).attr("href");
            $.ajax(
                {
                    url: myurl
                }
            ).done(function (deleteform) {
                $("#mydialog-title").html("Do you want to delete this record?");
                $("#mydialog-body").html(deleteform);
                $("#mydialog").modal();
                $("#btnno").modal("hide");
            });
        });
    </script>

}
