
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="search-text">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article>
                    <h3>How do I contact Regbhas?</h3>
                    <p class="text-muted">
                        We have advisiors avaliable by phone or chat on Monday-Friday, 7 a.m. - 11 p.m., and Saturday, 9 a.m. - 5 p.m.
                    </p>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <a href="#">
                    <img src="./Img/user query.png" alt="user query" class="img-fluid img-hover">
                </a>
            </div>

            <div class="col-sm-1">
                <a href="#">
                    <img src="./Img/call us.png" alt="call us" class="img-fluid img-hover">
                </a>
            </div>

            <div class="col-sm-1">
                <a href="#">
                    <img src="./Img/email.png" alt="email" class="img-fluid img-hover">
                </a>
            </div>

            <div class="col-sm-1">
                <a href="#">
                    <img src="./Img/post.png" alt="post" class="img-fluid img-hover">
                </a>
            </div>

            <div class="col-sm-1">
                <a href="#">
                    <img src="./Img/dealer.png" alt="dealership" class="img-fluid img-hover">
                </a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 m-auto">
                <h4 class="my-4">Complete this form to and write your message we will solve your query with in 24 hours.</h4>
            </div>
        </div>

        <form method="POST" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="name">Your Name*</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name..." required>
                    <div class="valid-feedback">Name is entered</div>
                    <div class="invalid-feedback">Please Enter your Name</div>
                </div>

                <div class="col-md-6 form-group">
                    <label for="email">Email*</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email..." required>
                    <div class="valid-feedback">Email is added</div>
                    <div class="invalid-feedback">Please Enter your email address</div>
                </div>

                <div class="col-md-6 form-group">
                    <label for="number">Your Cell Number*</label>
                    <input type="text" name="cellnumber" id="number" class="form-control" placeholder="Cell Number..." required>
                    <div class="valid-feedback">Your sell number is added</div>
                    <div class="invalid-feedback">Please Enter your cell number</div>
                </div>

               

                <div class="col-12 form-group">
                    <label for="zipcode">Zip Code*</label>
                    <input type="text" name="zipcode" id="zipcode" class="form-control" placeholder="Zip Code..." required>
                    <div class="valid-feedback">Your zip code is entered</div>
                    <div class="invalid-feedback">Please Enter your country zip code</div>
                </div>

                <div class="col-12 form-group">
                    <label for="message">Your Message*</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
                    <div class="valid-feedback">Your Message has entered</div>
                    <div class="invalid-feedback">Please Enter your message to us</div>
                    <button type="submit" class="btn btn-primary my-4">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>