
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="portfolio pt-lg">
    <center><h2 class="section-heading pb-md mt-2">Gallery</h2></center>
    <div class="section-intro wrapper pb-md">
       
    </div>
    <div class="portfolio__gallery clearfix">
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/furniturefinal.jpg" alt=""></figure>
        </div>
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/interiorfinal.png" alt=""></figure>
        </div>
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/lighting final.jpg" alt=""></figure>
        </div>
       
    </div>
</section>

