
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gallery</h1>

<section class="portfolio pt-lg">
    <h2 class="section-heading pb-md">Portfolio</h2>
    <div class="section-intro wrapper pb-md">
        <p>Regbhas is a company that provides best designes in the country</p>
    </div>
    <div class="portfolio__gallery clearfix">
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/furniturefinal.jpg" alt=""></figure>
        </div>
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/interiorfinal.png" alt=""></figure>
        </div>
        <div class="portfolio__gallery--item">
            <figure><img src="~/Images/lighting final.jpg" alt=""></figure>
        </div>
       
    </div>
</section>

